
.hdr1
    background-color: rgba(54,59,71,255)
    display: flex
    justify-content: flex-start
    align-items: center
    color: white
.div1hdr1
    width: 30%
    display: flex
    justify-content: flex-start
    align-items: center
    padding-left: 20%


.hdr1
    ul
        display: flex
        justify-content: space-between
        align-items: center
        width: 50%
        list-style-type: none
    a
        text-decoration: none
        color: white



.div2hdr1
    width: 50%
    display: flex
    justify-content: flex-start
    align-items: center

.hdr2
    img
        width: 100%
        height: 350px

