
.hdr1
    background-color: rgba(54,59,71,255)
    display: flex
    justify-content: flex-start
    align-items: center

.hdr1
    div
        ul
            display: flex
            justify-content: flex-start
            align-items: center


