
.section3
    display: flex
    justify-content: space-around
    align-items: center
    background-color:  rgba(239,239,241,255)
    width: 100%
    padding-bottom: 5%

.titrediv1section3
    font-size: 150%


.div1section3
    width: 20%
    div
        padding-top: 5%
        button
            background-color: #26a2cc
            color: white
            border-radius: 10%

.div2section3
    width: 45%
    display: flex
    justify-content: center
    align-items: center
    .boite1, .boite2, .boite3
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center





