
.section3
    display: flex
    justify-content: space-around
    align-items: center
    background-color:  rgba(239,239,241,255)
    width: 100%
    padding-bottom: 5%
    @media screen and (min-width: 375px) and (max-width: 425px)
        flex-direction: column
        

.titrediv1section3
    font-size: 150%


.div1section3
    width: 20%
    div
        padding-top: 5%
        button
            background-color: #26a2cc
            color: white
            border-radius: 10%
            @media screen and (min-width: 375px) and (max-width: 425px)
                margin-bottom: 5%
        @media screen and (min-width: 375px) and (max-width: 425px)
            padding-left: 7%
            padding-right: 7%
    @media screen and (min-width: 375px) and (max-width: 425px)
        width: 100%
    @media screen and (min-width: 768px) and (max-width: 1024px)
        font-size: 13px

.div2section3
    width: 45%
    display: flex
    justify-content: center
    align-items: center
    .boite1, .boite2, .boite3
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-right: 1%
        @media screen and (min-width: 375px) and (max-width: 425px)
            text-align: center
        img    
            @media screen and (min-width: 768px) and (max-width: 1024px)
                width: 95%
            @media screen and (min-width: 375px) and (max-width: 425px)
                width: 95%
    @media screen and (min-width: 375px) and (max-width: 425px)
        flex-direction: column
.sousimg1, .sousimg2, .sousimg3
    background-color: rgba(56,72,95,255)
    border-bottom-left-radius: 5%
    border-bottom-right-radius: 5%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    @media screen and (min-width: 375px) and (max-width: 425px)
        width: 95%
        margin-bottom: 7%

.titreimg
    font-size: 130%
    color: rgba(206,209,215,255)
    @media screen and (min-width: 768px) and (max-width: 1024px)
        font-size: 90%




