
.section1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: rgba(232,230,224,255)
    color: #978a8d


.div1section1
    width: 60%
    font-size: 30px
    margin: 5%
    #span1
        background-color: rgba(38,162,204,255)
        color: white

.div2section1
    font-size: 25px
    margin-bottom: 5%

.span2
    color: rgba(38,162,204,255)




